<div class="container mt-3">
  <div class="jumbotron text-center bg-light">
    <img src="../../../assets/img/undraw_Messages_re_qy9x.svg" class="animacion" alt="feliz cumpleaños" style="height: 30vh;">
    <h1 class="display-1">{{this.dato.ContactosLocales}}</h1>
    <p class="lead">Total de contactos</p>    
  </div>
  <div class="jumbotron text-center bg-light">
    <img src="../../../assets/img/undraw_happy_birthday_s72n.svg" class="animacion" alt="feliz cumpleaños" style="height: 30vh;">
    <h1 class="display-1">{{fecha}}</h1>
    <p class="lead">Personas que cumplen año hoy</p>    
  </div>
  <div class="text-center mb-3">
    <a class="btn fondo-boton" routerLink="/lista-contacto">
      <i class="fa fa-users" aria-hidden="true"></i>
      Mis contactos</a>    
  </div>
</div>